footer {
    background-color: var(--grey);
    color: var(--white);
    margin-top: 30px;
}
  
.footer-container {
    display: flex;
    flex-direction: column;
    padding: 3%;
}
  
.footer-links {
    display: flex;
}
  
ul {
    column-count: 4;
    list-style-type: none;
    font-weight: var(--bold);
    padding: 0;
}

.footer-list li {
    margin-bottom: 20px;
}

.media-container {
    width: 30%;
}
  
.footer-copyright {
    color: var(--white);
}

.footer-media {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
  
.media-icon {
    min-width: 30px;
    width: 8%;
    margin-right: 20px;
}

@media (max-width: 590px) {
    ul {
        column-count: 2;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        padding: 3%;
    }

    .footer-media {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .media-container {
        width: 50%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    .footer-links {
        display: flex;
        justify-content: center;
    }

}
  