body {
    background-color: var(--background);
}

.pastilla-color {
    position: relative;
    float: right;
    width: 65%;
    min-height: 10%;
    background-color: var(--lime);
}

.article-wrapper {
    min-height: 100vh;
    width: 100%;
    padding-top: 5%;
}

.image-container {
    position: absolute;
    width: 35%;
    top: -10%;
    left: -15%;
}

#selected-image {
    min-width: 500px;
}

.article-description {
    font-size: var(--base-text);
    padding: 5%;
    width: 65%;
    min-height: 400px;
    float: right;
}

.article-inferior {
    display: flex;
    align-items: center;
    position: absolute;
    flex-wrap: wrap;
    width: 80%;
    bottom: -60px;
    left: 20px;
}

.buy-button {
    height: 60px;
    width: 180px;
    background-color: var(--black);
    text-align: center;
    color: var(--white);
    font-size: var(--button);
    font-weight: var(--bold);
    font-family: var(--raleway);
}

.buy-button:hover {
    cursor: pointer;
}

.article-inferior .buy-button {
    margin-left: auto;
}

.article-title {
    font-size: var(--specs);
    font-weight: var(--heavy);
}

.article-subtitle {
    font-size: var(--button);
    font-weight: var(--light);
}

.price {
    font-size: var(--title);
}

/*GALERIA IMÁGENES RATÓN*/

.galeria {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 14vw;
    z-index: 1;
}

.galeria img {
    width: 150px;
}

.mouse-select {
    cursor: pointer;
}