body {
    background-color: var(--background);
}

.pastilla-color {
    position: relative;
    float: right;
    width: 65%;
    min-height: 10%;
    background-color: var(--lime);
}

.article-wrapper {
    min-height: 100vh;
    width: 100%;
    padding-top: 5%;
}

.image-container {
    position: absolute;
    width: 35%;
    top: -10%;
    left: -15%;
}

#selected-image {
    min-width: 500px;
}

.article-description {
    font-size: var(--base-text);
    padding: 5%;
    width: 65%;
    min-height: 400px;
    float: right;
}

.article-inferior {
    display: flex;
    align-items: center;
    position: absolute;
    flex-wrap: wrap;
    width: 80%;
    bottom: -60px;
    left: 20px;
}

.buy-button {
    height: 60px;
    width: 180px;
    background-color: var(--black);
    text-align: center;
    color: var(--white);
    font-size: var(--button);
    font-weight: var(--bold);
    font-family: var(--raleway);
}

.buy-button:hover {
    cursor: pointer;
}

.article-inferior .buy-button {
    margin-left: auto;
}

.article-title {
    font-size: var(--specs);
    font-weight: var(--heavy);
}

.article-subtitle {
    font-size: var(--button);
    font-weight: var(--light);
}

.price {
    font-size: var(--title);
}

/*GALERIA IMÁGENES RATÓN*/

.galeria {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 14vw;
    z-index: 1;
}

.galeria img {
    width: 150px;
}

.mouse-select {
    cursor: pointer;
}

@media (max-width: 1100px) {
    #selected-image {
        min-width: 400px;
    }
}

@media (max-width: 925px) {
    #selected-image {
        min-width: 400px;
    }

    .galeria img {
        width: 100px;
    }

    .article-inferior {
        display: flex;
        align-items: flex-start;
        position: absolute;
        flex-wrap: wrap;
        width: 60%;
        bottom: -60px;
        left: -150px;
    }
}

@media (max-width: 780px) {
    .article-description {
        display: none;
    }

    .pastilla-color {
        height: 500px;
    }

    .article-inferior {
        margin: auto;
        position: relative;
        bottom: -330px;
    }
}

@media (max-width: 600px) {
    .galeria {
        display: none;
    }

    .image-container {
        display: block;
        margin: 0 auto;
    }

    #selected-image {
        min-width: 500px;
    }

    .pastilla-color {
        width: 80%;
    }

    .article-wrapper {
        padding-top: 10%;
    }
    
}

@media (max-width: 540px) {
    .image-container {
        position: absolute;
        left: -80px;
    }
}

@media (max-width: 520px) {
    #selected-image {
        min-width: 450px;
    }

    .image-container {
        width: 320px;
    }
}

@media (max-width: 480px) {
    #selected-image {
        min-width: 320px;
    }

    .image-container {
        left: -20px;
        top: 8%;
    }

    .article-inferior {
        display: flex;
        align-items: flex-start;
        position: absolute;
        flex-wrap: wrap;
        width: 60%;
        bottom: -30px;
        left: 0;
    }
}

@media (max-width: 421px) {
    .image-container {
        top: 2%;
    }

    .article-inferior {
        display: flex;
        align-items: flex-start;
        position: absolute;
        flex-wrap: wrap;
        width: 60%;
        bottom: -30px;
        left: 0;
    }
}

@media (max-width: 375px) {
    #selected-image {
        min-width: 250px;
    }

    .image-container {
        left: -20px;
        top: 8%;
        width: 300px;
    }

    .article-inferior {
        display: flex;
        align-items: flex-start;
        position: absolute;
        flex-wrap: wrap;
        width: 60%;
        bottom: -30px;
        left: 0;
    }
}

@media (max-width: 320px) {
    .image-container {
        width: 250px;
    }

    .pastilla-color {
        height: 400px;
    }

    .article-wrapper {
        min-height: 80vh;
    }
}