.menu{
    height: 60px;
    width: 100%;
    background-color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px 10px 30px;
}

.menu a {
    text-decoration: none;
    color: var(--white);
    font-weight: var(--bold);
    font-size: var(--button);
    padding-right: 10px;
}

.menu a:hover {
    color: var(--lime);
}

.logitech-logo, .logitech-logo-mini, 
.hamburguer-menu {
    height: 40px;
    min-width: 40px;
}

.logitech-logo-mini {
    margin-left: -40px;
}

input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--white);
    color: var(--white);
}

#language {
    background-color: transparent;
    border: 0px;
}

#language, #language option {
    font-family: var(--raleway);
    font-weight: var(--bold);
    font-size: var(--button);
    color: var(--white);
    background-color: var(--grey);
}

#language option {
    color: var(--white);
}

.search-icon {
    height: 20px;
}

@media (min-width: 861px) {
    .logitech-logo-mini, .hamburguer-menu {
        display: none;
    }
}

@media (max-width: 860px) {

    .logitech-logo {
        display: none;
    }
}

@media (min-width: 781px) {
    .hamburguer-menu {
        display: none;
    }

    .logitech-logo-mini {
        margin: 0;
    }
}

@media (max-width: 780px) {
    .navigation, .search-icon, #searcher,
    #language {
        display: none;
    }

    .menu {
        flex-direction: row;
        padding: 10px;
    }

    .hamburguer-menu {
        align-self: flex-start;
    }
}



