.info-wrapper {
    display: flex;
    flex-direction: column;
}
  
.right-wrapper {
  
  .right-texts {
    float: right;
    width: 60%;
    background-color: var(--lime);
  }
  p {
      padding: 10% 10%;
  }
}

.splide__progress__bar {
  height: 5px !important;
  background-color: #d7ff82 !important;
}