html {
    /*Fuentes*/
    --raleway: 'Raleway', sans-serif;

    --light: 300;
    --regular: 400;
    --bold: 700;
    --heavy: 900;

    --button: 20px;
    --base-text: 18px;
    --title: 30px;
    --specs: 35px;

    /*Padding*/

    --lateral: 0 5% 0 5%;

    
    /*Paleta de colores*/
    --white: white;
    --black: black;
    --darkgrey: #2e2e2e;
    --grey: #4b4b4b;
    --lightgrey: #727272;
    --lime: #d7ff82;
    --background: #5fe2ff;
}