{% include "./head.njk" %}

<body id="top" itemscope itemtype="http://schema.org/WebPage">
  
  {% include "./nav.njk" %}
  
  {{ content | safe }}

  {% include "./footer.njk" %}

  <script src="/scripts/index.js"></script>
</body>
</html>

<!--ELEMENTOS REPETIDOS EN BASE-->
