  <footer>
    <div class="footer-container">
        <div class="footer-links">
          <ul class="footer-list">
            <a href="/about/"><li>Nosotros</li></a>
            <a href="/cuenta/"><li>Cuenta</li></a>
            <a href="#"><li>Suscripción</li></a>
            <a href="/contacto/"><li>Contactar</li></a>
            <a href="#"><li>Seguridad</li></a>
            <a href="#"><li>Devoluciones</li></a>
            <a href="#"><li>Noticias</li></a>
            <a href="#"><li>Términos de uso</li></a>
          </ul>
        </div>

        <div class="footer-media">

            <div class="media-container">
              <img class="media-icon" src="../../images/social/facebook.svg" alt="Facebook"/>
              <img class="media-icon" src="../../images/social/twitter.svg" alt="Twitter"/>
              <img class="media-icon" src="../../images/social/instagram.svg" alt="Instagram"/>
            </div>

            <div class="footer-copyright">
              <p>&copy; 2021 Logitech | Todos los derechos reservados</p>
            </div>

        </div>

    </div>
</footer>