  <!-- <div class="footer">&copy; 2021 Logitech | Todos los derechos reservados.</div> -->

  <footer>
    <div class="footer-container">
        <div class="footer-links">
          <ul>
            <li>Nosotros</li>
            <li>Blog</li>
            <li>Suscripción</li>
            <li>Contactar</li>
            <li>Seguridad</li>
            <li>Devoluciones</li>
            <li>Noticias</li>
            <li>Términos de uso</li>
          </ul>
        </div>

        <div class="footer-media">
            <div class="media-container">
                <img class="media-icon" src="../../images/social/facebook.svg" alt="Facebook"/>
                <img class="media-icon" src="../../images/social/twitter.svg" alt="Twitter"/>
                <img class="media-icon" src="../../images/social/instagram.svg" alt="Instagram"/>
            </div>
            <div class="footer-copyright">
                  <div>2021 Logitech. | Todos los derechos reservados</div>
            </div>
        </div>
    </div>
</footer>