<div class="menu">
    <img class="hamburguer-menu" src="../../images/menu-icon.png" alt="Menu Hamburguesa">
    <img class="logitech-logo" src="../../images/logitech_logo.png" alt="Logo Logitech">
    
    <a href="/" class="logo-link">
      <img class="logitech-logo-mini" src="../../images/logi-mini.png" alt="Logo Logitech">
    </a>

      <div class="navigation">
        <a id="inicio" href="/">Inicio</a>
        <a id="cuenta" href="/cuenta/">Cuenta</a>
        <a id="contacto" href="/contacto/">Contacto</a>
        <a id="about" href="/about/">Sobre nosotros</a>
      </div>
      <form>
        <div>
            <input type="text" id="searcher">
            <img class="search-icon" src="../../images/pictogramas/lupa.svg" alt="Buscar">
        </div>
      </form>
      <select id="language" name="language">
          <option value="ES">ES</option>
          <option value="EN">EN</option>
      </select>
</div>