---
layout: layouts/base.njk
title: Contacto
---
<script>
    document.getElementById("contacto").style.color = "#d7ff82"
</script>

<div class="left-wrapper">
    <div class="left-specs">
        <div class="left-pictos">
            <img src="../../images/pictogramas/cart.svg" alt="Cuenta">
        </div>

        <div class="left-texts">
            <h1 class="left-title">Producto</h1>
            <p class="specs-description">¿Tiene alguna pregunta o problema para configurar su nuevo producto? Empiece aquí la resolución de problemas.</p>
        </div>
    </div>

    <div class="left-specs">
        <div class="left-pictos">
            <img src="../../images/pictogramas/check.svg" alt="Cuenta">
        </div>

        <div class="left-texts">
            <h1 class="left-title">Garantía</h1>
            <p class="specs-description">Encuentre su información de garantía, registre su producto o presente una reclamación de garantía.</p>
        </div>
    </div>

    <div class="left-specs">
        <div class="left-pictos">
            <img src="../../images/pictogramas/chat.svg" alt="Cuenta">
        </div>

        <div class="left-texts">
            <h1 class="left-title">Comunidad</h1>
            <p class="specs-description">¿Quiere hacer una pregunta a otros usuarios del producto? Participe en la conversación.</p>
        </div>
    </div>

    <div class="left-specs">
        <div class="left-pictos">
            <img src="../../images/pictogramas/telephone.svg" alt="Cuenta">
        </div>

        <div class="left-texts">
            <h1 class="left-title">Asistencia</h1>
            <p class="specs-description">¿Todavía tiene problemas y le gustaría hablar con nosotros? Estamos a su disposición.</p>
        </div>
    </div>
</div>