---
layout: layouts/base.njk
title: Cuenta
---
<script>
    document.getElementById("cuenta").style.color = "#d7ff82"
</script>

<div class="left-wrapper">
    <div class="left-specs">
        <div class="left-pictos">
            <img src="../../images/pictogramas/cart.svg" alt="Cuenta">
        </div>

        <div class="left-texts">
            <h1 class="left-title">Cuenta</h1>
            <p class="specs-description">Modifique o haga un seguimiento de sus pedidos, haga devoluciones o gestione su cuenta.</p>
        </div>
    </div>

    <div class="left-specs">
        <div class="left-pictos">
            <img src="../../images/pictogramas/cloud.svg" alt="Cuenta">
        </div>

        <div class="left-texts">
            <h1 class="left-title">Servicios</h1>
            <p class="specs-description">Gestione fácilmente todas sus suscripciones.</p>
        </div>
    </div>

    <div class="left-specs">
        <div class="left-pictos">
            <img src="../../images/pictogramas/help.svg" alt="Cuenta">
        </div>

        <div class="left-texts">
            <h1 class="left-title">Asistencia</h1>
            <p class="specs-description">¿Tiene preguntas sobre su producto? Tenemos las respuestas.</p>
        </div>
    </div>

    <div class="left-specs">
        <div class="left-pictos">
            <img src="../../images/pictogramas/mail.svg" alt="Cuenta">
        </div>

        <div class="left-texts">
            <h1 class="left-title">Correo electrónico</h1>
            <p class="specs-description">Manténgase al día con Logitech mediante una suscripción a nuestra newsletter.</p>
        </div>
    </div>
</div>

<div class="right-wrapper">

    <div class="top-picto">
        <img src="../../images/pictogramas/user.svg" alt="User">
    </div>

</div>