---
layout: layouts/base.njk
title: Cuenta
---
<script>
    document.getElementById("cuenta").style.color = "#d7ff82"
</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />


<div class="left-wrapper">
    <div class="left-specs">
        <div class="left-pictos">
            <img src="../../images/pictogramas/cart.svg" alt="Cuenta">
        </div>

        <div class="left-texts">
            <h1 class="left-title">Cuenta</h1>
            <p class="specs-description">Modifique o haga un seguimiento de sus pedidos, haga devoluciones o gestione su cuenta.</p>
        </div>
    </div>

    <div class="left-specs">
        <div class="left-pictos">
            <img src="../../images/pictogramas/cloud.svg" alt="Cuenta">
        </div>

        <div class="left-texts">
            <h1 class="left-title">Servicios</h1>
            <p class="specs-description">Gestione fácilmente todas sus suscripciones.</p>
        </div>
    </div>

    <div class="left-specs">
        <div class="left-pictos">
            <img src="../../images/pictogramas/help.svg" alt="Cuenta">
        </div>

        <div class="left-texts">
            <h1 class="left-title">Asistencia</h1>
            <p class="specs-description">¿Tiene preguntas sobre su producto? Tenemos las respuestas.</p>
        </div>
    </div>

    <div class="left-specs">
        <div class="left-pictos">
            <img src="../../images/pictogramas/mail.svg" alt="Cuenta">
        </div>

        <div class="left-texts">
            <h1 class="left-title">Correo electrónico</h1>
            <p class="specs-description">Manténgase al día con Logitech mediante una suscripción a nuestra newsletter.</p>
        </div>
    </div>
</div>

<div class="right-wrapper">

    <div>
      <form class="login-form">
        <p class="login-text">
          <span>
            <img src="../../images/pictogramas/user.svg" alt="User">
            <div id="cuenta-logi">Cuenta Logitech</div>
          </span>
        <input type="email" class="login-username" autofocus="true" required="true" placeholder="Usuario" />
        <div class="pass">
          <input type="password" class="login-password" required="true" placeholder="Password" />
          <i class="bi bi-eye-slash login-password-icon" id="togglePassword"></i>
        </div>
<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
        <a class="login-forgot-pass">Recuperar contraseña</a>

        <input type="submit" name="Login" value="Iniciar Sesion" class="login-submit" />
        <div class="login-new">No tienes cuenta?</div>
        <a class="login-new">Crear cuenta?</a>
      </form>
    </div>
</div>

    <div class="login-mobile">
      <form class="login-form">
        <p class="login-text">
          <span>
            <img src="../../images/pictogramas/user.svg" alt="User">
            <div id="cuenta-logi">Cuenta Logitech</div>
          </span>
        <input type="email" class="login-username" autofocus="true" required="true" placeholder="Usuario" />
        <div class="pass">
          <input type="password" class="login-password" required="true" placeholder="Password" />
          <i class="bi bi-eye-slash login-password-icon" id="togglePassword"></i>
        </div>
<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
        <a class="login-forgot-pass">Recuperar contraseña</a>

        <input type="submit" name="Login" value="Iniciar Sesion" class="login-submit" />
        <div class="login-new">No tienes cuenta?</div>
        <a class="login-new">Crear cuenta?</a>
      </form>
    </div>
