<div class="specs-wrapper">

    <div class="specs-block">
        <div class="specs-titles">
            <img src="../../images/pictogramas/flechas.svg" alt="Easy Switch">
            <h1>Easy Switch</h1>
        </div>
        <div class="specs-description">
            Empareja tu ratón con tres ordenadores, luego alterna fácilmente entre ellos con sólo pulsar un botón prácticamente colocado bajo el pulgar. Los tres números iluminados te permiten saber en todo momento a qué dispositivo estás conectado.
        </div>
    </div>

    <div class="specs-block">
        <div class="specs-titles">
            <img src="../../images/pictogramas/drag.svg" alt="Easy Switch">
            <h1>Desplazamiento</h1>
        </div>
        <div class="specs-description">
            Empareja tu ratón con tres ordenadores, luego alterna fácilmente entre ellos con sólo pulsar un botón prácticamente colocado bajo el pulgar. Los tres números iluminados te permiten saber en todo momento a qué dispositivo estás conectado.
        </div>
    </div>

    <div class="specs-block">
        <div class="specs-titles">
            <img src="../../images/pictogramas/hammer.svg" alt="Easy Switch">
            <h1>Adaptado</h1>
        </div>
        <div class="specs-description">
            Empareja tu ratón con tres ordenadores, luego alterna fácilmente entre ellos con sólo pulsar un botón prácticamente colocado bajo el pulgar. Los tres números iluminados te permiten saber en todo momento a qué dispositivo estás conectado.
        </div>
    </div>

    <div class="specs-block">
        <div class="specs-titles">
            <img src="../../images/pictogramas/battery.svg" alt="Easy Switch">
            <h1>Batería</h1>
        </div>
        <div class="specs-description">
            Empareja tu ratón con tres ordenadores, luego alterna fácilmente entre ellos con sólo pulsar un botón prácticamente colocado bajo el pulgar. Los tres números iluminados te permiten saber en todo momento a qué dispositivo estás conectado.
        </div>
    </div>
    
</div>