<div class="specs-wrapper">

    <div class="specs-block">
        <div class="specs-titles">
            <img src="../../images/pictogramas/flechas.svg" alt="Easy Switch">
            <h1>Easy Switch</h1>
        </div>
        <div class="specs-description">
            Empareja tu ratón con tres ordenadores, luego alterna fácilmente entre ellos con sólo pulsar un botón prácticamente colocado bajo el pulgar. Los tres números iluminados te permiten saber en todo momento a qué dispositivo estás conectado.
        </div>
    </div>

    <div class="specs-block">
        <div class="specs-titles">
            <img src="../../images/pictogramas/drag.svg" alt="Easy Switch">
            <h1>Desplazamiento</h1>
        </div>
        <div class="specs-description">
            Empareja tu ratón con tres ordenadores, luego alterna fácilmente entre ellos con sólo pulsar un botón prácticamente colocado bajo el pulgar. Los tres números iluminados te permiten saber en todo momento a qué dispositivo estás conectado.
        </div>
    </div>

    <div class="specs-block">
        <div class="specs-titles">
            <img src="../../images/pictogramas/hammer.svg" alt="Easy Switch">
            <h1>Adaptado</h1>
        </div>
        <div class="specs-description">
            Empareja tu ratón con tres ordenadores, luego alterna fácilmente entre ellos con sólo pulsar un botón prácticamente colocado bajo el pulgar. Los tres números iluminados te permiten saber en todo momento a qué dispositivo estás conectado.
        </div>
    </div>

    <div class="specs-block">
        <div class="specs-titles">
            <img src="../../images/pictogramas/battery.svg" alt="Easy Switch">
            <h1>Batería</h1>
        </div>
        <div class="specs-description">
            Empareja tu ratón con tres ordenadores, luego alterna fácilmente entre ellos con sólo pulsar un botón prácticamente colocado bajo el pulgar. Los tres números iluminados te permiten saber en todo momento a qué dispositivo estás conectado.
        </div>
    </div>
    
</div>

<div class="specs-wrapper">

    <div class="specs-block">
        <div class="specs-titles">
            <h1>DIMENSIONES</h1>
        </div>
        <ul class="specs-list">
            <li>Altura: 115 mm</li>
            <li>Anchura: 74 mm</li>
            <li>Profundidad: 45 mm</li>
            <li>Peso: 135 g</li>
        </ul>
    </div>

    <div class="specs-block">
        <div class="specs-titles">
            <h1>REQUISITOS</h1>
        </div>
        <div class="specs-description">
            Empareja tu ratón con tres ordenadores, luego alterna fácilmente entre ellos con sólo pulsar un botón prácticamente colocado bajo el pulgar. Los tres números iluminados te permiten saber en todo momento a qué dispositivo estás conectado.
        </div>
    </div> 

    <div class="specs-block">
        <div class="specs-titles">
            <h1>DETALLES</h1>
        </div>
        <ul class="specs-list">
            <li>Tipo de conexión: Conexión inalámbrica Bluetooth Smart y de 2,4 GHz.</li>
            <li>Radio de acción inalámbrico: 10 m. Depende del uso y de los dispositivos.</li>
            <li>Detalles de pilas: 1 pila AA.</li>
            <li>Duración de las pilas: 24 meses. Depende del uso y de los dispositivos.</li>
            <li>Tecnología de sensor: Seguimiento óptico avanzado de Logitech.</li>
            <li>Resolución de sensor: 1000 dpi.</li>
            <li>Botón rueda: Sí.</li>
            <li>Número de botones: 8.</li>
            <li>Software opcional: Logitech Options y Logitech Flow.</li>
        </ul>

    </div>
    
</div>